.loader-container {
    display: flex;
  }
  
  .loader {
    border: 8px solid #f3f3f3;
    border-top: 8px solid crimson;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    animation: spin 1s linear infinite;
    padding: 1vh;
    background-color: crimson;
    margin:auto;
    margin-top:15%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  