body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

.video-container {
    display: inline-block;
    background-color: #ffcccc;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.action-button {
    padding: 12px 20px;
    background-color: #ffccdd;
    color: #444444;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 0 10px;
    transition: background-color 0.3s ease; 
}

.action-button:hover {
    background-color: #ffaadd; 
}
