body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.container {
    margin-top: 50px;
}

.video-container {
    display: inline-block;
    background-color: #ffcccc; /* Light red */
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
}

.action-button {
    padding: 12px 20px; /* Button padding */
    background-color: #ffccdd; /* Soft green */
    color: #444444; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer on hover */
    font-size: 16px; /* Button font size */
    margin: 0 10px; /* Add spacing between buttons */
    transition: background-color 0.3s ease; 
}

.action-button:hover {
    background-color: #ffaadd; 
}
