<!DOCTYPE html>
<html>
<head>
    <title>Pose Detection with MediaPipe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body id="body">
    <div class="container">
        <h1>Pose Detection - Landmark Visibility</h1>

        <div class="video-container">
            <video id="video" width="640" height="480" autoplay></video>
        </div>

        <div class="instructions"></div>
            <h2>Instructions</h2>
            <p style="text-align: center;">
                To use, ensure <strong>SHOULDERS</strong>, <strong>HIP</strong>, <strong>ELBOWS</strong>, <strong>HANDS</strong>, AND <strong>FEET</strong> are visible in the camera frame.
                <br><br>
                Wait for a few seconds till the light flashes green – which means successful capture, then move out of the frame.
            </p>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
