<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simple Landing Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/landingStyles.css') }}">
    <script src="{{ url_for('static', filename='js/landingScript.js') }}" defer></script>
</head>
<body>
    <div class="container">
        <h1>Welcome to the Pose Detection App</h1>
        <form id="measurement-form" class="measurement-form">
            <label for="shoulder_width">Shoulder Width (in inches):</label>
            <input type="text" id="shoulder_width" name="shoulder_width" required>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
